{#
Device editor and creator dialog.

Required context:
- An unpacked `Device` instance (required only for editing).
#}

{% from "close-dialog-button.jinja" import close_dialog_button %}

{% set operation = "edit" if id is defined else "create" %}
{% set hx_action = ('hx-patch="/device/' ~ id ~ '/"') if operation == "edit" else 'hx-post="/device/"' %}
{% set include_selectors = "#device-editor-dialog .modal-box input" %}

<dialog id="device-editor-dialog" class="modal" open>
    <div class="modal-box">
        <h3 class="text-lg font-bold">
            {% if operation == "edit" %}Edit {{ code }}{% else %}New Device{% endif %}
        </h3>
        <div class="py-4">
            {% include "app_model/device/device-editor-form.jinja" %}
        </div>
        <div class="modal-action">
            <form method="dialog">
                {{ close_dialog_button() }}
                <button class="btn btn-primary" {% if operation=="edit" %} hx-patch="/device/{{id}}/" {% else %}
                    hx-post="/device/" {% endif%} hx-target="#device-editor-dialog" hx-swap="delete"
                    hx-include="{{ include_selectors }}" hx-ext="json-enc">
                    Submit
                </button>

            </form>
        </div>
    </div>
</dialog>