{# Sales event table row macro. #}

{% macro price_span(price) %}
{% if price < 6 %}
<span class="text-orange-100">{{ price }}</span>
{% elif price < 8 %}
<span class="text-lime-100">{{ price }}</span>
{% elif price < 10 %}
<span class="text-cyan-300">{{ price }}</span>
{% elif price < 12 %}
<span class="text-green-300">{{ price }}</span>
{% else %}
<span class="text-green-600">{{ price }}</span>
{% endif %}
{% endmacro %}

{% macro sales_event_table_row(item, price, currency, created_at) %}
<tr>
    <td>{{ item|title }}</td>
    <td>{{ price_span(price) }}</td>
    <td>{{ currency }}</td>
    <td>{{ created_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
</tr>
{% endmacro %}