{#
Dialog that shows that the live sales events of a device.

The dialog automatically updates its content with new data using server-side events.

Required context:
- Unpacked device instance.
#}

{% from "app_model/sales_event/sales-events-table.jinja" import sales_events_table %}
{% from "close-dialog-button.jinja" import close_dialog_button %}

<dialog id="sales-events-of-device-dialog" class="modal" open>
    <div class="modal-box h-3/4 max-h-[80vh] flex flex-col">
        <h3 class="flex-0 text-lg font-bold">Sales: {{ code }}</h3>
        <div class="flex-1 py-4 w-full h-full overflow-y-auto" hx-ext="sse" sse-connect="/sales-event/{{ id }}/stream/"
            sse-swap="message" hx-target="#sales-events-of-device-table-body" hx-swap="afterbegin">
            {{ sales_events_table([], "sales-events-of-device-table") }}
        </div>
        <div class="modal-action flex-0">
            <form method="dialog">
                {{ close_dialog_button() }}
            </form>
        </div>
    </div>
</dialog>